{name, "reddy"}.
{authors, ["Kevin Smith <kevin@heroku.com>"]}.
{description, "attempt at writing a better redis client in Erlang"}.
{homepage, "https://github.com/kevsmith/reddy"}.
{rebar_compatible, true}.
{license, "MIT"}.
{url, {git, "https://github.com/kevsmith/reddy.git", {branch, "master"}}}.
{applications, [reddy]}.
